.search-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.fashion-card {
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}

.fashion-card:hover {
    transform: scale(1.05);
}

.fashion-card img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}